<div class="header-container">
  <div class="container-first"></div>
  <div class="container-branch">
    <div class="branch-img">
      <img src="../assets/history (2).png" alt="logo-solaris-png" />
    </div>
    <div class="branch-tittle">
      <h1>SOLARISTECH</h1>
    </div>
  </div>
  <div class="container-item">
    <h3>INICIO</h3>
  </div>
  <div class="container-item">
    <h3>DESARROLLOS</h3>
  </div>
  <div class="container-item">
    <h3>SERVICIOS</h3>
  </div>
  <div class="container-item">
    <h3>TU 360°</h3>
  </div>
  <div class="container-botton">
    <div class="contact-botton">
      <p>Contactanos</p>
    </div>
  </div>
  <div class="container-end"></div>
</div>
