<div class="header-container">
  <div class="branch-container">
    <div class="branch-img">
      <img src="../assets/history (2).png" alt="logo-solaris-png" />
    </div>
    <!-- <div class="branch-tittle">
      <h1>SOLARISTECH</h1>
    </div> -->
    <div class="nav-bar"></div>
    <div class="nav-items">
      <div class="nav-item nav-item-1">¿Que hacemos?</div>
      <div class="nav-item nav-item-1">Servicios</div>
      <div class="nav-item nav-item-1">Contactanos</div>
    </div>
  </div>
</div>
