* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}
.header-container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 5vw;
  background-color: #000;
  opacity: 0.8;
  .branch-container {
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: row;
    .branch-img {
      display: flex;
      margin: 1vw 2vw;
    }
    .branch-tittle {
      display: flex;
      flex-direction: row;
      font-size: 0.8vw;
      align-items: center;
      h1 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
          Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue,
          sans-serif;
        background: -webkit-linear-gradient(#f14b8d, #f9be4c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .nav-bar {
      width: 65%;
      height: 100%;
    }
    .nav-items {
      display: flex;
      width: 35%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .nav-item {
        display: flex;
        width: 33.3%;
        height: 100%;
        color: #fff;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        background: -webkit-linear-gradient(#f14b8d, #f9be4c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .nav-item:hover {
        background: -webkit-linear-gradient(#b5b5b5, #f9be4c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
