.spikes {
  position: relative;
  background: #000;

  .main-container {
      .container-img {
          display: flex;
          align-items: center;
          justify-content: center;
          align-content: center;
        }
    }
}